@font-face {
	font-family: GloomyThings;
	font-display: swap;
	src: url("../fonts/GloomyThings-3zBv3.woff2") format("woff2"), url("../fonts/GloomyThings-3zBv3.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
